.myInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5;
 
}
.myInput label{
    display: block;
    font-size: 18px;
       
}
.input-select-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
}
.myInput input{
    direction: rtl;
    background-color: #041018;
    border: #bcc9cf 1px solid;
    border-color: #bcc9cf;
    outline: none;
    color: #ffffff;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    padding-right: 10px;
    font-size: 17px;
    font-weight: 500;

}