.storagePage{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 95vh;
    direction: rtl;
    /* position: absolute; */
}
.storageRightPart{
border-left: 1px solid #ffffff;
   width: 25%;
}
.topButsRightStorage{
    height: 6%;
    border-bottom: 1px solid #ffffff;
    border-radius: 15px;
}
.formStorage{
padding-top: 10px;
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8;
}
.myInput{
    width: 80%;
}
.mySelect{
    width: 80%;

}
.item-form-buts{
    margin-top: 10px;
}
.topButsRightStorage{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-right: 10px;
   
    
}

.itemsTableStorage{
    width: 75%;
   

}

.invoiceStorage{
   width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    border-right: 1px solid #ffffff;
    padding: 3px;

    
}
.invoiceStorage h3{
    margin-top: 10px;
margin-bottom: 50px;
border-bottom: #ffffff 1px solid;
width: 100%;
text-align: center;
padding: 5px;
}

.invoiceStorage p{
    margin-bottom: 5px;
}

.invoiceTotalDiv{
    display: flex;
    width: 90%;
    flex-direction: row;
    margin-top: 5px;
    gap: 5px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.invoiceTotalDiv h4{
    width: 50%;
    text-align: center;
    

}

.invoiceButs{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

.one-item-info-page{
    width: 50%;
    border-right: 1px solid #ffffff;
 
}
.one-item-info-top-buts{
    display: flex;
    flex-direction: row;
    gap: 10px;

align-items: center;
  border-bottom: 1px solid #ffffff;
  border-radius: 10px;
    height: 50px;
    margin-bottom: 15px;

    padding-right:  10px;

}

.one-item-info-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
}
.one-item-info-container .one-item-info{
font-size: 20px;
}

.edit-item-page{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:95vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.425);
    position: absolute;
}


.edit-item-page .edit-item-form{

    width: 40%;
    background-color: #061a29;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    height: 80vh;
}
.itemsTableStorage{
    margin-top: 10px;
}
.itemsTableStorage-table{
    overflow-y: auto;
    height: 85vh;
}

.active{
    color: #00b4d8;
}

