.info-card{
    background-color: #0E1C29;
    border-radius: 8px;
    padding: 12px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ffffff6c;
    text-align: center;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s;
gap: 20px;
    
}
.info-card:hover{
      background-color: #182a3b;
       border: 1px solid #ffffff86;
       transform: scale(1.03);
     
}