
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #041018;
  color: white;

}


/* عرض السكرول */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* خلفية المسار */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

/* المقبض */
::-webkit-scrollbar-thumb {
  background: #150333;
  border-radius: 8px;
}

/* عند hover */
::-webkit-scrollbar-thumb:hover {
  background: #760885;
}
