nav{
    background-color: #041018;
    height: 5vh;
    display: flex;
    gap: 20px;
    align-items: center;
    direction: rtl;
    border-bottom: white 1px solid;
    padding-right: 10px;
    
   
}
nav .nav-link{
    color: rgb(255, 255, 255);
    border-bottom: 1px solid #fff;
    transition: 0.1s;
 

}

nav .nav-link:hover{
   transform: scale(1.2); 
}

nav .main-title{
    color: white;
    font-weight: bold;

}

.selected{
    
}

.nav-link.selected {
    color: #0391ad;
    border-bottom: 1px solid #00b4d8;   
}
