.Purchase-invoice-page{
    direction: rtl;
    display: flex;
    justify-content: center;
    height: 95vh;
       overflow: auto;
}
.Suppliers-invoices-list{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
        

}
.Suppliers-invoices-list h2{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.Suppliers-invoices-list-Content{
    display: flex;
    flex-direction: column;
    gap: 50px;
 
   width: 80%;
   
    overflow: auto;
}
