
.statistics-page{
    display: flex;
    direction: rtl;

}

.general-statistics{
    width: 40%;
    height: 95vh;
    border-left: 1px solid #fff;
    display: flex;
    flex-direction: column;

    align-items: center;

}
.general-statistics h2{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding: 1rem;
}

.general-statistics-info-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
    height: 80%;
    overflow: auto;
    
}

.general-statistics-info-cards .info-card{
    width: 40%;
    height: 150px;
}


/* .............جدول احصائيات الادوية ......... */



.statistics-table-compo{
    width: 60%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.statistics-table-compo .statistics-table-control{
    width: 100%;
  height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #fff;
    padding-right: 10px;
}

.statistics-table-div{
    padding: 5px;
    width: 100%;
    height: 80%;
    overflow: auto;
}