/* table{
    width: 100%;
   border: 1px solid #ffffff;
}
tr,th,td{
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: center;
} */


table {
  border-collapse: collapse;
  width: 100%;
}
th{
  position: sticky;
  top: 0; 
}

th,
td {
  padding: 8px;
    text-align: center;
    border: 1px solid #ffffff;
    color: #ffffff;
}
th {
  background-color: #0a2a43;
 
}
tr:hover {
  background-color: #4886ad8f;
  cursor: pointer;
  transition: 0.2s;
}

